body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.6;
    max-width: 960px;
    margin: auto;
    padding: 0 20px;
    background-color: #f9f9f9;
    color: #333;
}

header {
    text-align: center;
    margin: 20px 0;
}

h1 {
    font-size: 3em;
    letter-spacing: 0.1em;
    padding: 0.5em 0;
}

h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

hr {
    border: none;
    background-color: #ccc;
    height: 1px;
}

.skills-list span {
    display: inline-block;
    background: #007bff;
    color: white;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 15px;
}

.project {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background: #fff;
}

.project a {
    color: #007bff;
    text-decoration: none;
}

.project a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    background: #007bff;
    color: white;
}
